# String

In [1]:
print("tera "*3 + "suroor")

tera tera tera suroor

<b>Upper lower<b>

In [2]:
s = 'manish yadav'
s2 = 'SACHIN'
print(s.upper())#
print(s2.lower())

MANISH YADAV
sachin

<b>title<b>

In [3]:
s= 'manish yadav'
s.title()

'Manish Yadav'

<b>Slicing<b>

In [4]:
s= 'manish yadav'
print(s[0:4])# print mani
print(s[1:6])# print anish
print(s[-5:])#print yadav
print(s[:6])#print manish

mani
anish
yadav
manish

<b>Strip<b>

In [5]:
s = '  manish  '
print(s)
print(s.strip())

  manish
manish

<b>lstrip<b>

In [6]:
s = '  manish'
print(s)
print(s.lstrip())

  manish
manish

<b>rstrip<b>

In [7]:
s = 'manish  '
print(s)
print(s.rstrip())

manish
manish

<b>split<b>

In [8]:
s= 'manish yadav'
print(s.split())#split with space
print(s.split('a'))#split by a (returns a list)

['manish', 'yadav']
['m', 'nish y', 'd', 'v']

<b>replace<b>

In [9]:
s= 'manish yadav'
s.replace('yadav','gupta')

'manish gupta'

<b>count<b>

In [10]:
s= 'manish yadav'
s.count('a')

3

# List

In [11]:
nums = [12,55,35,85,175]
nums

[12, 55, 35, 85, 175]

In [12]:
nums.append(89)
nums

[12, 55, 35, 85, 175, 89]

In [13]:
nums.insert(5,555)
nums

[12, 55, 35, 85, 175, 555, 89]

In [14]:
nums.remove(55)
nums

[12, 35, 85, 175, 555, 89]

In [15]:
nums.pop()

89

In [16]:
nums

[12, 35, 85, 175, 555]

In [17]:
nums.pop(2)

85

In [18]:
nums

[12, 35, 175, 555]

In [19]:
del nums[1:3]

In [20]:
nums

[12, 555]

In [21]:
nums.index(555)

1

In [22]:
nums.extend([45,64,87])

In [23]:
nums

[12, 555, 45, 64, 87]

In [24]:
min(nums)

12

In [25]:
max(nums)

555

In [26]:
len(nums)

5

In [27]:
nums.count(12)

1

In [28]:
nums.reverse()

In [29]:
nums

[87, 64, 45, 555, 12]

In [30]:
nums.sort()

In [31]:
nums

[12, 45, 64, 87, 555]

<b>Shallow copy<b>

In [32]:
nums2 = nums

In [33]:
nums2

[12, 45, 64, 87, 555]

In [34]:
nums2.append(2)#modify nums2

In [35]:
nums2

[12, 45, 64, 87, 555, 2]

In [36]:
nums#nums gets modified automatically

[12, 45, 64, 87, 555, 2]

<b>Deep copy<b>

In [37]:
nums3 = nums.copy()

In [38]:
nums3

[12, 45, 64, 87, 555, 2]

In [39]:
nums3.pop()#modify nums3.join

2

In [40]:
nums3

[12, 45, 64, 87, 555]

In [41]:
nums#no effect on nums

[12, 45, 64, 87, 555, 2]

In [42]:
nums.clear()

In [43]:
nums#list becomes empty

[]

In [44]:
del nums

In [45]:
nums#list gets deleted permanently

NameError: name 'nums' is not defined

In [ ]:
import os
li = os.listdir()
for i in li:
    if i.endswith('.txt'):
        os.remove(i)

In [ ]:
li2 = [1,1,2,2,2,3]

In [ ]:
set(li2)

In [ ]:
s1 = {1,2,3}
s2 = {1,4,5}
s1.union(s2)

In [ ]:
s1.intersection(s2)

<b> Set<b>

In [ ]:
s = {1,2,3,4,5}

In [ ]:
print(s)

In [ ]:
for x in s:
    print(x)

In [ ]:
print(4 in s)

In [ ]:
s.update([8,9])
print(s)

In [ ]:
s.discard(5)

In [ ]:
print(s)

In [ ]:
s1 = {0,1,2,3,4}
s2 = {4,5,6,7,8,"Man"}
s3 = s1.union(s2)
print(s3)

In [ ]:
s1.update(s2)
print(s1)

In [ ]:
abc = 1,000,000

In [ ]:
type(abc)

In [ ]:
dic = {1:'a',2:'b'}
dic

In [ ]:
dic[3]='c'
dic

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(type(x))

In [ ]:
dic = {"name": "bike",
      "model": "400"}

In [ ]:
print(dic)

In [ ]:
x = dic["name"]
print(x)

In [ ]:
x = dic.get("model")
print(x)

In [ ]:
for x in dic:
    print(dic[x])

In [ ]:
for x in dic.values():
    print(x)

In [ ]:
for x,y in dic.items():
        print(x,y)

In [ ]:
if "name" in dic:
     print("Yes, 'name' is one of the keys in the thisdict dictionary")

In [ ]:
print(len(dic))

In [ ]:
dic["health"] = "Good"

In [ ]:
print(dic)

In [ ]:
dic.pop("health")
print(dic)

In [ ]:
del dic["model"]
print(dic)

In [ ]:
import json
original_dict={'body':'{"infra":["dev4","elk"],"type":"file_integrity"}'}
original_dict['body'] = json.loads(original_dict['body'])
infra=original_dict['body']['infra']
print(infra)

In [ ]:
fruit_list = ['apple','mango','orange']
for fruit in fruit_list:
    print(fruit)

In [ ]:
fruit_list = ['apple','mango','orange']
for i in range(len(fruit_list)):
    print(i+1,fruit_list[i])

In [ ]:
name = input('Enter your name\n')
age = int(input())
print(f'My name is {name} and my age is {age}')

In [ ]:
name = input("Enter your name\n")
age = int(input("Enter your age\n"))
if age>=18:
    print(f"Congratulation! {name} You are eligible for vote")
else:
    print(f"Sorry {name} You are not eligible for vote")

In [ ]:
num = int(input("Enter number:"))
if num<0:
    print("The entered number is negative")
elif num>0:
    print("The entered number is positive")
else:
    print("The entered number is zero")

In [ ]:
num = int(input("Enter number:"))
if num %2 == 0:
    print("The number is Even")
else:
    print("The number is Odd")

In [ ]:
for i in range(10,0,-1):
    print(i)

In [ ]:
n = 3
fact = 1
for i in range(1,n+1):
    fact = fact * i
print(f'Factorial is {fact}')

In [ ]:
5
1+2+3+4+5

In [ ]:
n = 5
add = 0
for i in range (1,n+1):
    add = add+i
print(f"Addition is {add}")

In [ ]:
n = 5
i = 1
add = 0
while i <= n:
    add = add+i
    i+=1
print(f"Addition is {add}")

In [ ]:
n

In [ ]:
n = int(input('Enter number\n'))
print(f'Addition is {n*(n+1)/2}')

In [ ]:
n = 7
k = 0
for i in range(2,n//2+1):
    if n % i == 0:
        k = 1
        break
if k == 0:
    print('number is prime')
else:
    print('number is not prime')

In [ ]:
s = 'sachin'
print(s[::-1])

In [ ]:
n = 'sachin'
for i in range(len(n)-1,-1,-1):
    #print(i)
    print(n[i],end='')

In [ ]:
n = 'sachin'
rev = ''
for i in n:
    rev =  i + rev
print (rev)

In [ ]:
s1 = "sun"
s2 = "bright"
s3 = f"{s1} shines very {s2}"
s3 = s3.replace("sun","The sun")
s3 = s3.replace('very','')
print(s3)

In [ ]:
def print_hello(name):
    print(f"Hello {name} from a function")
    
print_hello('Sachin')
print_hello('Manish')

In [ ]:
a = 5
b = 2
c = a+b
print(c)

In [ ]:
def addition(a,b):
    c = a+b
    print(c)
addition(5,2)

In [ ]:
def addition(a,b):
    return a+b
print(addition(5,2))

In [ ]:
def name(fname,lname): 
    print(f'I am {fname} {lname}')
name('Manish','Yadav')

In [ ]:
def name(fname,lname): 
    return fname,lname
print(name('Manish','Yadav'))

In [ ]:
def name(name):
    print('My name is',name)
name('Sachin')

In [ ]:
def name(*name):
    print('Names: ',name)
name('Sachin','Manish','Priya')

In [ ]:
def child(child2,child1):
    print('The youngest child is',child1)
child(child1 = 'manish',child2 = 'sachin')

In [ ]:
def children(**child):
    print('The youngest child is',child['child1'])
children(child1 = 'manish',child2 = 'sachin',child3 = 'Priya')

In [ ]:
def country(country_name='India'):
    print('the country is',country_name)
country('US')

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)
my_function(['orange','watermelon'])

In [ ]:
x = 200
def myfunc():
  x = 300
  print(x)

myfunc()
print(x)

In [ ]:
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

In [ ]:
a=5
b=5
c=a+b
try:
    print(z)
except:
    print("An exception occurred")
print(c)

In [ ]:
f = open('hello.txt','w')
f.write('hello sachin\n')
f.close()

In [ ]:
f = open('hello.txt','r')
data = f.read()
f.close()
print(data)

In [ ]:
f = open('hello.txt','a')
f.write('hello manish')
f.close()

In [ ]:
import os
if not os.path.exists(r'F:\Python Practice\hello.txt'):
    f = open('hello.txt','a')
    f.write('hello Priya')
    f.close()

In [ ]:
file_name = 'hi.txt'
with open(file_name,'w') as f:
    f.write('hi sachin\n')

In [ ]:
a = open('myfile.txt','w')
a.write('first hello\n')
a.close()

In [ ]:
a = open('myfile.txt',"r")
print(a.read())
a.close()

In [ ]:
a = open('myfile.txt',"a")
a.write('my name is khan')
a.close()

In [ ]:
with open('newfile.txt','w') as a:
        a.write('New file hai\n')

In [ ]:
with open('newfile.txt','r') as a:
        print(a.read())

In [ ]:
with open('newfile.txt','a') as a:
    a.write('net chal raha hai')

In [ ]:
os.remove('newfile.txt')

In [ ]:
os.mkdir("blank")

In [ ]:
os.rmdir("blank")

In [ ]:
with open(r'F:\Python Practice\blank\a.txt',"w") as f:
    f.write("i am manish")

In [ ]:
import shutil
dir_path = r'F:\Python Practice\blank'
#shutil.rmtree(dir_path)

In [ ]:
s = input()
if s == s[::-1]:
    print("YES")
else:
    print("NO")

In [ ]:

s = '''<blockquote><p>1. All-day 
</p><p>is not the same, you need to wait and be patient for the good things to happen.</p>'''
s2 = 'My name is Sachin. Sachin sachin'
quote = re.search('<p>(.*?)</p>',s,re.S).group(1)
sachin_list = re.findall('sachin',s2)

In [ ]:
import pandas as pd
import re
import urllib
import os

site='quoteshacks'
if not os.path.exists(site):
    os.mkdir(site)

#function
def fetch_and_save(url,filename):
    if os.path.exists(filename):
        #print('File exists {}'.format(filename))
        pass
    else:
        req=urllib.request.Request(
                url,
                data=None,
                headers={
                    'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.100 Safari/537.36'
                       }
        )
        f=urllib.request.urlopen(req)
        source=f.read()
        with open(filename,'wb') as f:
            f.write(source)

url='https://www.quoteshacks.com/sad-quotes/'
filename=f'{site}/{site}.html'
fetch_and_save(url,filename)

with open (filename,'r') as f:
    content = f.read()
content = content.replace(r'&#8217;','\'')
    
quoteshacks_quote_list = re.findall('<blockquote>\s*<p>\d+\.\s+(.*?)<',content,re.S)
#print(quoteshacks_quote_list)
df = pd.DataFrame(quoteshacks_quote_list,columns = ['Best Sad Quotes'])
df.to_excel(f'{site}.xlsx')

In [ ]:
import pandas as pd
import re
import urllib
import os
import codecs
site='wisdomquotes'
if not os.path.exists(site):
    os.mkdir(site)

#function
def fetch_and_save(url,filename):
    if os.path.exists(filename):
        #print('File exists {}'.format(filename))
        pass
    else:
        req=urllib.request.Request(
                url,
                data=None,
                headers={
                    'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.100 Safari/537.36'
                       }
        )
        f=urllib.request.urlopen(req)
        source=f.read()
        with open(filename,'wb') as f:
            f.write(source)

url='https://wisdomquotes.com/sad-quotes/'
filename=f'{site}/{site}.html'
fetch_and_save(url,filename)
with codecs.open(filename,'r','utf-8',errors='ignore') as f:
    data = f.read()
data = data.replace(r'&#8217;','\'')
data = data.replace(r'&#8211;','-')
wisdomquotes_list = re.findall("<blockquote>\s*<p>(.*?)<",data,re.S)

quote_list = []
for quote in wisdomquotes_list:
        author = re.search('.*\.(.*)',quote)
        if author :
            quote = quote.replace(author.group(1),'')
        quote_list.append(quote)
#print(quote_list)
df = pd.DataFrame(quote_list,columns = ['300 Sad Quotes'])
df.to_excel(f'{site}.xlsx')
len(df)

In [ ]:
import re

#Search for an upper case "S" character in the beginning of a word, and print the word:

txt = "Search for an upper jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjcase character in the beginning"

In [ ]:
li = [1,2,3,4,5,6,7,8,9,10]
li2 = []
for number in li:
    if number%2==0:
        li2.append(number)
print(li2)   

#filter(lambda variable:condition,name of the iterator)
li = list(filter(lambda number:number%2==0,li))

In [ ]:
li = [1,2,3,4,5,6,7,8,9,10]
li3 = [4,3,2,1]

        
def common_elements(l1,l2):
    common_list = []
    #find smallest list
    if len(l1)<len(l2):
        small_list = l1
        big_list = l2
    else:
        small_list = l2
        big_list = l1 
        
    for number in small_list:
        if number in big_list:
            common_list.append(number)
    return common_list

common_elements([1,5,7,8,6,7],[1,2,3,5,7])

In [ ]:
li = [1,2,3,4,5,6,7,8,9,10]
li3 = [4,11,20,1,]
li3 = list(filter(lambda number:number in li,li3))
li3

In [ ]:
#['1','2','3']
li = [1,2,3,4,5]
li2 = []
#num = 1
#num = str(num)
for i in li:
    i = str(i)
    li2.append(i)
print(li2)

In [ ]:
li = list(map(str,li))
li

In [ ]:
li = [1,2,3]
li = list(map(lambda x:x*2,li))
li

In [ ]:
def number(n):
    return 2*n
number(5)

In [ ]:
li = [1,2,3]
li = list(map(lambda x:number(x),li))
li

In [ ]:
li = [1,2,3]
mult = 1
for i in li:
    mult = mult*i
print(mult)

In [ ]:
li = [1,2,3]
mult=1
for i in range(len(li)):
    mult=mult*li[i]
print(mult)

In [ ]:
from functools import reduce
li = [1,2,3]
mult = reduce(lambda x,y:x*y,li)
mult

In [ ]:
li = ['manish','priya','manish','sachin']
li.count('manish')

In [ ]:
li = [2,3,5,9,7,50,15,45]
max(li)

In [ ]:
li = ['manish','priya','manish','sachin']
li = list(set(li))

In [ ]:
li = ['manish','priya','manish','sachin']
li2 = []
for name in li:
    if name not in li2:
        li2.append(name)
print(li2)

In [ ]:
list1=['sachin','komal','priya','hemu','nitu','kajal','shreya','prerna','pammi','achal']
school1=['sachin','komal']
school2=['priya','hemu','nitu','shreya']
school3=[]
for student in list1:
    if student not in school1 and student not in school2:
        school3.append(student)
print(school3)

In [ ]:
list1=['sachin','komal','priya','hemu','nitu','kajal','shreya','prerna','pammi','achal']
school1=['sachin','komal']
school2=['priya','hemu','nitu','shreya']
school3 = []
for names in list1:
    if names not in school1 and names not in school2:
        school3.append(names)
print(school3)

In [ ]:
list1=['sachin','komal','priya','hemu','nitu','kajal','shreya','prerna','pammi','achal']
school1=['sachin','komal']
school2=['priya','hemu','nitu','shreya']
school3 = list(filter(lambda names:names not in school1 and names not in school2,list1))
school3

#a 2 b1 c3

In [ ]:
s='abaccc'
for i in sorted(set(s)):
    print(i, s.count(i),end = ' ')

In [ ]:
s = 'abaccc'
check = ''
for i in s:
    if i not in check:
        check+=i
        print(i,s.count(i))

In [ ]:
s = 'manEish'
for i in s:
    if i not in 'AEIOUaeiou':
        print(i,end = '')

In [ ]:
s = 'manEish'
s = ''.join(filter(lambda x:x not in 'AEIOUaeiou',s))
s

In [ ]:
n1 = 81
n2 = 27
if n1 < n2:
    small = n1
else:
    small = n2
for i in range(2,small+1):
    if n1%i == 0 and n2%i ==0:
        gcd = i
print(gcd)

In [ ]:
#5479 9745
n = 5479
reverse = 0
while n>0:
    x = n%10
    reverse = (reverse*10)+x
    n=n//10
print(reverse)

n = 5
1
12
123
1234
12345

In [ ]:
n = 5
pattern = ''
for i in range(1,n+1):
    pattern = str(pattern) + str (i)
    print(pattern)

In [ ]:
n = 5
star = '*'
for i in range(1,n+1):
    print(star*i)

In [ ]:
n=5
for i in range(1,n+1):
    print(i*"*")

In [ ]:
n=5
pattern=" "
for i in range(1,n+1):
    pattern=str(pattern)+str(i)
    print(pattern)

In [ ]:
s='abaccc'
us=sorted(set(s))
for i in us:
    print(i,s.count(i),end=' ')

In [ ]:
class employee:
    def __init__(self,name,id):
        self.id = id
        self.name = name
        
    def print_employee_details(self):
        print(f'Employee name is {self.name} and Id is {self.id}.')
        
emp = employee('Sachin',76842)
emp.print_employee_details()

emp2 = employee('Manish',123)
emp2.print_employee_details()

In [ ]:
class student:
    def __init__(self,name,rollno):
        self.name = name
        self.rollno = rollno
    
    def students_details(self):
        print(f'Student name is {self.name} and Rollno is {self.rollno}')
        
stud = student('Manish',11)
stud.students_details()

man = student('Ravi',56)
man.students_details()

In [13]:
n = 6
for i in range(n,0,-1):
    print(i*'*')

******
*****
****
***
**
*

In [11]:
n = 5
for i in range(1,n+1):
    print(n*' '+i*' *')
    n-=1

      *
     * *
    * * *
   * * * *
  * * * * *

In [2]:
n = 5
pattern = ""
for i in range(n,0,-1):
    pattern = str(pattern) + str(i)
    print(pattern)

5
54
543
5432
54321

In [ ]:
'''54321
4321
321
21
1'''

n = 5
n = list(range(n,0,-1))
n = list(map(str,n))
n = ''.join(n)
for i in range(len(n)):
    print(n[i:])

 1
 12
 123
 1234
 12345

In [1]:
n = 5
pattern = 0
for i in range(1,n+1):
    pattern = pattern*10 + i
    print(pattern)

1
12
123
1234
12345

In [ ]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

In [ ]:
n = 16
square_root = n**(1/2)
print(square_root)

In [ ]:
i = 10/7
i

In [ ]:
i = round(i,4)
i

In [ ]:
class student:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def check_eligibility(self):
        if self.age >= 18:
            print(self.name + ' is eligible to vote')
        else:
            print(self.name + ' is not eligible to vote')
stud = student("Manish",20)
stud.check_eligibility()

In [ ]:
a = [2,22,222,'as2d','z22','2']
a = list(map(str,a))
a = ''.join(a)
cnt = 0
for i in a:
    if i == "2":
        cnt+=1
print(cnt)

In [ ]:
inp = [2,22,222,'as2d','z22','2']
inp = list(map(str,inp))
print(inp)
inp = ''.join(inp)
print(inp)
print(len(inp)-len(inp.replace("2","")))

In [ ]:
import re
a = [2,22,222,'as2d','z22','2']
print(len(re.findall('2',''.join(list(map(str,a))))))

In [ ]:
a = [2,22,222,'as2d','z22','2']
a = list(map(str,a))
a = ''.join(a)
print(a)
b = a.split("2")

In [ ]:
li=[23,10,18,51,5,13,31,54,48,62,29,8,37,6666666]
buckets = [[] for _ in range(10)]
len_max = len(str(max(li)))
li = list(map(str,li))
li = list(map(lambda x: x.zfill(len_max),li))
print(li)
for tense in range(-1,-len_max-1,-1):
    buckets = [[] for _ in range(10)]
    for i in range(len(li)):
        buckets[int(li[i][tense])].append(li[i])
    li.clear()
    for k in buckets:
            for l in k:
                li.append(l) 
print(li)

In [ ]:
li=[23,10,18,51,5,13,31,54,48,62,29,8,37]
buckets = [[] for _ in range(10)]
len_max = len(str(max(li)))
li = list(map(str,li))
li = list(map(lambda x: x.zfill(len_max),li))
print(li)
buckets[(int(li[0][-1]))]

In [ ]:
int(li[0][-1])

In [ ]:
class human:
    def __init__(self,name,height):
        self.name = name
        self.height = height
    def human_baby(self):
        print('My name is',self.name ,'i am',self.height,'tall')
humn = human('Priya',5)
humn.human_baby()

class animal(human):

In [ ]:
def other_func():
    print('Hello World!')
other_func()

In [ ]:
list(range(10,100,10))

In [ ]:
class it:
    def __init__(self):
        self.cnt = 1
    def __iter__(self):
        return self
    def __next__(self):
        val = self.cnt
        if self.cnt <= 5:
            self.cnt+=1
            return val
        raise StopIteration
i = it()
for j in i:
    print(j)

In [7]:
def myfunc(func):
    def wrap():
        print("***********")
        func()
        print("+++++++++++")
    return wrap

@myfunc
def other_func():
    print("Hi sir")
other_func()

***********
Hi sir
+++++++++++

In [1]:
def number(n):
    for i in range(n):
        yield i
list(number(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
li=[1,1,2,3,3,4,4,8,8]
for i in li:
    if li.count(i) == 1:
        print(i)
#count aisa element jo single time ho

In [ ]:
tup=("hello")
print(tup)
print(type(tup))

In [ ]:
from gtts import gTTS
import os
mytext="hi priya how are you"
language="en"
output=gTTS(text=mytext,lang=language,slow=False)
output.save("my.mp3")
os.system("start my.mp3")

In [3]:
#factorial
n = 4
fact = 1
for i in range(1,n+1):
    fact = fact * i    
print(f'Factorial is {fact}')

Factorial is 24

In [ ]:
#prime number
n=5
k=0
for i in range(2,n//2+1):
    if n%i==0:
        k=1
        break
if k==0:
    print("numer is prime")
else:
    print("number is not prime")

In [ ]:
#star pattern
n=5
for i in range(1,n+1):
    print("*"*i)

In [ ]:
#number pattern
n=5
pattern=''
for i in range(1,n+1):
    pattern=str(pattern)+str(i)
    print(pattern)

In [ ]:
#remove duplicates from a string
str=("priya","priya","sachin")
set(str)

In [ ]:
#fibonacci series
def fib(n):
    a=0
    b=1
    c=0
    for i in range(n):
        print(a)
        c=a+b  # 0+1 = 1  1+1 = 2
        a=b  # 1          1
        b=c  # 1          2 
        
fib(6)

In [ ]:
#swapping
a=5
b=6
temp=a
a=b
b=temp
print(a)
print(b)

In [5]:
#swapping by using two variable
a=5
b=6
a=a+b     #5+6=11 a=11
b=a-b   #11-6=5   b=5
a=a-b   #11-5=6   a=6
print(a)
print(b)

6
5

In [ ]:
#reverse string
s = 'priya'
print(s[::-1])

In [ ]:
n = 'priya'
rev = ''
for i in n:
    rev =  i + rev
print (rev)

In [ ]:
n = 8
k = 0
for i in range(2,n//2+1):
    if n % i == 0:
        k = 1
        break
if k == 0:
    print('number is prime')
else:
    print('number is not prime')

In [49]:
def printl(name):
    def message():
        print("hey there",name)
    return message
print(printl("hitesh"))

In [51]:
def message(name):
    print("hey there",name)
message("priya")

TypeError: print() takes 1 positional argument but 2 were given

In [46]:
def message(name):
    print("hey there",name)
message("priya")

hey there priya

In [4]:
#factorial
n=5
fact=1
for i in range(1,n+1):
    fact=fact*i
print("factorial is",fact)

factorial is 120

In [7]:
#swapping by using two variable
a=2
b=3
a=a+b
b=a-b
a=a-b
print(a)
print(b)

3
2

In [16]:
n = 6
for i in range(n,0,-1):
    print(i*'*')

******
*****
****
***
**
*

In [24]:
for i in range(4):
    for j in range(4):
        print("#",end=" ")
    print()

# # # #
# # # #
# # # #
# # # #

In [28]:
for i in range(4):
    for j in range(i+1):
        print("#",end=" ")
    print()

#
# #
# # #
# # # #

In [29]:
for i in range(4):
    for j in range(4-i):
        print("#",end=" ")
    print()

# # # #
# # #
# #
#

## simple interest and compound interest

In [1]:
# formula
# simple interest = (p*r*t)/100
# compound interest = p*(1+r/100)**t
# p= principal amoount
# r= ratebof interest
# t=time
# **= raise to the power

p= float(input("Enter the principal amount: "))
r= float(input("Enter the rate of interest: "))
t= float(input("Enter the time: "))
s1= (p*r*t)/100
a= p*(1+r/100)**t
c1=a-p
print("Simple interest is: ",s1)
print("Compound interest is: ",c1)

Enter the principal amount: 1000
Enter the rate of interest: 10
Enter the time: 2
Simple interest is:  200.0
Compound interest is:  210.00000000000023

In [ ]:


s = input()

if s[2] in 'AEIOUY': 
    print('invalid')
    exit()
    
flag='valid'
for i in range(len(s)-1):
    
    
    if not s[i].isdigit() or not s[i+1].isdigit():
        continue
        
    # print(s[i], s[i+1])
    sum_ = int(s[i])+int(s[i+1])

    if not sum_ %2==0:
        flag = 'invalid'
        break
print(flag)

In [ ]:
s = input()


def check_tag(s):
    
    if s[2] in 'AEIOUY': 
        return 'invalid'
    
    for i in range(len(s)-1):

        if not s[i].isdigit() or not s[i+1].isdigit():
            continue

        sum_ = int(s[i])+int(s[i+1])

        if not sum_ %2==0:
            return 'invalid'
    return 'valid'


print(check_tag(s))