# String

In [226]:
print("tera "*3 + "suroor")

tera tera tera suroor

<b>Upper lower<b>

In [251]:
s = 'manish yadav'
s2 = 'SACHIN'
print(s.upper())#
print(s2.lower())

MANISH YADAV
sachin

<b>title<b>

In [271]:
s= 'manish yadav'
s.title()

'Manish Yadav'

<b>Slicing<b>

In [264]:
s= 'manish yadav'
print(s[0:4])# print mani
print(s[1:6])# print anish
print(s[-5:])#print yadav
print(s[:6])#print manish

mani
anish
yadav
manish

<b>Strip<b>

In [266]:
s = '  manish  '
print(s)
print(s.strip())

  manish
manish

<b>lstrip<b>

In [268]:
s = '  manish'
print(s)
print(s.lstrip())

  manish
manish

<b>rstrip<b>

In [270]:
s = 'manish  '
print(s)
print(s.rstrip())

manish
manish

<b>split<b>

In [275]:
s= 'manish yadav'
print(s.split())#split with space
print(s.split('a'))#split by a (returns a list)

['manish', 'yadav']
['m', 'nish y', 'd', 'v']

<b>replace<b>

In [279]:
s= 'manish yadav'
s.replace('yadav','gupta')

'manish gupta'

<b>count<b>

In [280]:
s= 'manish yadav'
s.count('a')

3

# List

In [112]:
nums = [12,55,35,85,175]
nums

[12, 55, 35, 85, 175]

In [113]:
nums.append(89)
nums

[12, 55, 35, 85, 175, 89]

In [114]:
nums.insert(5,555)
nums

[12, 55, 35, 85, 175, 555, 89]

In [115]:
nums.remove(55)
nums

[12, 35, 85, 175, 555, 89]

In [116]:
nums.pop()

89

In [117]:
nums

[12, 35, 85, 175, 555]

In [118]:
nums.pop(2)

85

In [119]:
nums

[12, 35, 175, 555]

In [120]:
del nums[1:3]

In [121]:
nums

[12, 555]

In [122]:
nums.index(555)

1

In [123]:
nums.extend([45,64,87])

In [124]:
nums

[12, 555, 45, 64, 87]

In [125]:
min(nums)

12

In [126]:
max(nums)

555

In [127]:
len(nums)

5

In [128]:
nums.count(12)

1

In [129]:
nums.reverse()

In [130]:
nums

[87, 64, 45, 555, 12]

In [131]:
nums.sort()

In [132]:
nums

[12, 45, 64, 87, 555]

<b>Shallow copy<b>

In [133]:
nums2 = nums

In [134]:
nums2

[12, 45, 64, 87, 555]

In [135]:
nums2.append(2)#modify nums2

In [136]:
nums2

[12, 45, 64, 87, 555, 2]

In [137]:
nums#nums gets modified automatically

[12, 45, 64, 87, 555, 2]

<b>Deep copy<b>

In [138]:
nums3 = nums.copy()

In [139]:
nums3

[12, 45, 64, 87, 555, 2]

In [140]:
nums3.pop()#modify nums3.join

2

In [141]:
nums3

[12, 45, 64, 87, 555]

In [142]:
nums#no effect on nums

[12, 45, 64, 87, 555, 2]

In [143]:
nums.clear()

In [144]:
nums#list becomes empty

[]

In [145]:
del nums

In [146]:
nums#list gets deleted permanently

NameError: name 'nums' is not defined

In [174]:
import os
li = os.listdir()
for i in li:
    if i.endswith('.txt'):
        os.remove(i)

In [175]:
li2 = [1,1,2,2,2,3]

In [176]:
set(li2)

{1, 2, 3}

In [177]:
s1 = {1,2,3}
s2 = {1,4,5}
s1.union(s2)

{1, 2, 3, 4, 5}

In [178]:
s1.intersection(s2)

{1}

<b> Set<b>

In [204]:
s = {1,2,3,4,5}

In [205]:
print(s)

{1, 2, 3, 4, 5}

In [206]:
for x in s:
    print(x)

1
2
3
4
5

In [207]:
print(4 in s)

True

In [218]:
s.update([8,9])
print(s)

{8, 9}

In [219]:
s.discard(5)

In [220]:
print(s)

{8, 9}

In [244]:
s1 = {0,1,2,3,4}
s2 = {4,5,6,7,8,"Man"}
s3 = s1.union(s2)
print(s3)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 'Man'}

In [245]:
s1.update(s2)
print(s1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 'Man'}

In [246]:
abc = 1,000,000

In [248]:
type(abc)

tuple

In [2]:
dic = {1:'a',2:'b'}
dic

{1: 'a', 2: 'b'}

In [3]:
dic[3]='c'
dic

{1: 'a', 2: 'b', 3: 'c'}

In [5]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(type(x))

<class 'dict_keys'>

In [12]:
dic = {"name": "bike",
      "model": "400"}

In [15]:
print(dic)

{'name': 'bike', 'model': '400'}

In [17]:
x = dic["name"]
print(x)

bike

In [30]:
x = dic.get("model")
print(x)

400

In [31]:
for x in dic:
    print(dic[x])

bike
400

In [34]:
for x in dic.values():
    print(x)

bike
400

In [36]:
for x,y in dic.items():
        print(x,y)

name bike
model 400

In [37]:
if "name" in dic:
     print("Yes, 'name' is one of the keys in the thisdict dictionary")

Yes, 'name' is one of the keys in the thisdict dictionary

In [38]:
print(len(dic))

2

In [44]:
dic["health"] = "Good"

In [45]:
print(dic)

{'name': 'bike', 'model': '400', 'health': 'Good'}

In [46]:
dic.pop("health")
print(dic)

{'name': 'bike', 'model': '400'}

In [49]:
del dic["model"]
print(dic)

{'name': 'bike'}

In [70]:
import json
original_dict={'body':'{"infra":["dev4","elk"],"type":"file_integrity"}'}
original_dict['body'] = json.loads(original_dict['body'])
infra=original_dict['body']['infra']
print(infra)

['dev4', 'elk']

In [75]:
fruit_list = ['apple','mango','orange']
for fruit in fruit_list:
    print(fruit)

apple
mango
orange

In [77]:
fruit_list = ['apple','mango','orange']
for i in range(len(fruit_list)):
    print(i+1,fruit_list[i])

1 apple
2 mango
3 orange

In [9]:
name = input('Enter your name\n')
age = int(input())
print(f'My name is {name} and my age is {age}')

Enter your name
Sachin
24
My name is Sachin and my age is 24

In [4]:
name = input("Enter your name\n")
age = int(input("Enter your age\n"))
if age>=18:
    print(f"Congratulation! {name} You are eligible for vote")
else:
    print(f"Sorry {name} You are not eligible for vote")

Enter your name
sac
Enter your age
18
Congratulation! sac You are eligible for vote

In [3]:
num = int(input("Enter number:"))
if num<0:
    print("The entered number is negative")
elif num>0:
    print("The entered number is positive")
else:
    print("The entered number is zero")

Enter number:1
The entered number is positive

In [3]:
num = int(input("Enter number:"))
if num %2 == 0:
    print("The number is Even")
else:
    print("The number is Odd")

Enter number:46
The number is Even

In [22]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [44]:
n = 3
fact = 1
for i in range(1,n+1):
    fact = fact * i
print(f'Factorial is {fact}')

Factorial is 6

In [45]:
5
1+2+3+4+5

15

In [53]:
n = 5
add = 0
for i in range (1,n+1):
    add = add+i
print(f"Addition is {add}")

Addition is 15

In [57]:
n = 5
i = 1
add = 0
while i <= n:
    add = add+i
    i+=1
print(f"Addition is {add}")

Addition is 15

In [58]:
n

5

In [80]:
n = int(input('Enter number\n'))
print(f'Addition is {n*(n+1)/2}')

Enter number
5
Addition is 15.0

In [118]:
n = 7
k = 0
for i in range(2,n//2+1):
    if n % i == 0:
        k = 1
        break
if k == 0:
    print('number is prime')
else:
    print('number is not prime')

number is prime

In [191]:
s = 'sachin'
print(s[::-1])

nihcas

In [61]:
n = 'sachin'
for i in range(len(n)-1,-1,-1):
    #print(i)
    print(n[i],end='')

nihcas

In [193]:
n = 'sachin'
rev = ''
for i in n:
    rev =  i + rev
print (rev)

nihcas

In [198]:
s1 = "sun"
s2 = "bright"
s3 = f"{s1} shines very {s2}"
s3 = s3.replace("sun","The sun")
s3 = s3.replace('very','')
print(s3)

The sun shines  bright

In [26]:
def print_hello(name):
    print(f"Hello {name} from a function")
    
print_hello('Sachin')
print_hello('Manish')

Hello Sachin from a function
Hello Manish from a function

In [27]:
a = 5
b = 2
c = a+b
print(c)

7

In [28]:
def addition(a,b):
    c = a+b
    print(c)
addition(5,2)

7

In [35]:
def addition(a,b):
    return a+b
print(addition(5,2))

7

In [37]:
def name(fname,lname): 
    print(f'I am {fname} {lname}')
name('Manish','Yadav')

I am Manish Yadav

In [40]:
def name(fname,lname): 
    return fname,lname
print(name('Manish','Yadav'))

('Manish', 'Yadav')

In [42]:
def name(name):
    print('My name is',name)
name('Sachin')

My name is Sachin

In [51]:
def name(*name):
    print('Names: ',name)
name('Sachin','Manish','Priya')

Names:  ('Sachin', 'Manish', 'Priya')

In [53]:
def child(child2,child1):
    print('The youngest child is',child1)
child(child1 = 'manish',child2 = 'sachin')

The youngest child is manish

In [56]:
def children(**child):
    print('The youngest child is',child['child1'])
children(child1 = 'manish',child2 = 'sachin',child3 = 'Priya')

The youngest child is manish

In [62]:
def country(country_name='India'):
    print('the country is',country_name)
country('US')

the country is US

In [68]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)
my_function(['orange','watermelon'])

apple
banana
cherry
orange
watermelon

In [72]:
x = 200
def myfunc():
  x = 300
  print(x)

myfunc()
print(x)

300
200

In [73]:
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

In [77]:
a=5
b=5
c=a+b
try:
    print(z)
except:
    print("An exception occurred")
print(c)

An exception occurred
10

In [16]:
f = open('hello.txt','w')
f.write('hello sachin\n')
f.close()

In [17]:
f = open('hello.txt','r')
data = f.read()
f.close()
print(data)

hello sachin

In [18]:
f = open('hello.txt','a')
f.write('hello manish')
f.close()

In [22]:
import os
if not os.path.exists(r'F:\Python Practice\hello.txt'):
    f = open('hello.txt','a')
    f.write('hello Priya')
    f.close()

In [23]:
file_name = 'hi.txt'
with open(file_name,'w') as f:
    f.write('hi sachin\n')

In [33]:
a = open('myfile.txt','w')
a.write('first hello\n')
a.close()

In [34]:
a = open('myfile.txt',"r")
print(a.read())
a.close()

first hello

In [35]:
a = open('myfile.txt',"a")
a.write('my name is khan')
a.close()

In [40]:
with open('newfile.txt','w') as a:
        a.write('New file hai\n')

In [41]:
with open('newfile.txt','r') as a:
        print(a.read())

New file hai

In [42]:
with open('newfile.txt','a') as a:
    a.write('net chal raha hai')

In [43]:
os.remove('newfile.txt')

In [54]:
os.mkdir("blank")

In [45]:
os.rmdir("blank")

In [55]:
with open(r'F:\Python Practice\blank\a.txt',"w") as f:
    f.write("i am manish")

In [56]:
import shutil
dir_path = r'F:\Python Practice\blank'
#shutil.rmtree(dir_path)

In [69]:
s = input()
if s == s[::-1]:
    print("YES")
else:
    print("NO")

YES

In [33]:

s = '''<blockquote><p>1. All-day 
</p><p>is not the same, you need to wait and be patient for the good things to happen.</p>'''
s2 = 'My name is Sachin. Sachin sachin'
quote = re.search('<p>(.*?)</p>',s,re.S).group(1)
sachin_list = re.findall('sachin',s2)

1. All-day

In [117]:
import pandas as pd
import re
import urllib
import os

site='quoteshacks'
if not os.path.exists(site):
    os.mkdir(site)

#function
def fetch_and_save(url,filename):
    if os.path.exists(filename):
        #print('File exists {}'.format(filename))
        pass
    else:
        req=urllib.request.Request(
                url,
                data=None,
                headers={
                    'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.100 Safari/537.36'
                       }
        )
        f=urllib.request.urlopen(req)
        source=f.read()
        with open(filename,'wb') as f:
            f.write(source)

url='https://www.quoteshacks.com/sad-quotes/'
filename=f'{site}/{site}.html'
fetch_and_save(url,filename)

with open (filename,'r') as f:
    content = f.read()
content = content.replace(r'&#8217;','\'')
    
quoteshacks_quote_list = re.findall('<blockquote>\s*<p>\d+\.\s+(.*?)<',content,re.S)
#print(quoteshacks_quote_list)
df = pd.DataFrame(quoteshacks_quote_list,columns = ['Best Sad Quotes'])
df.to_excel(f'{site}.xlsx')

In [125]:
import pandas as pd
import re
import urllib
import os
import codecs
site='wisdomquotes'
if not os.path.exists(site):
    os.mkdir(site)

#function
def fetch_and_save(url,filename):
    if os.path.exists(filename):
        #print('File exists {}'.format(filename))
        pass
    else:
        req=urllib.request.Request(
                url,
                data=None,
                headers={
                    'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.100 Safari/537.36'
                       }
        )
        f=urllib.request.urlopen(req)
        source=f.read()
        with open(filename,'wb') as f:
            f.write(source)

url='https://wisdomquotes.com/sad-quotes/'
filename=f'{site}/{site}.html'
fetch_and_save(url,filename)
with codecs.open(filename,'r','utf-8',errors='ignore') as f:
    data = f.read()
data = data.replace(r'&#8217;','\'')
data = data.replace(r'&#8211;','-')
wisdomquotes_list = re.findall("<blockquote>\s*<p>(.*?)<",data,re.S)

quote_list = []
for quote in wisdomquotes_list:
        author = re.search('.*\.(.*)',quote)
        if author :
            quote = quote.replace(author.group(1),'')
        quote_list.append(quote)
#print(quote_list)
df = pd.DataFrame(quote_list,columns = ['300 Sad Quotes'])
df.to_excel(f'{site}.xlsx')
len(df)

333

In [138]:
import re

#Search for an upper case "S" character in the beginning of a word, and print the word:

txt = "Search for an upper jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjcase character in the beginning"

 character in the beginning

In [46]:
li = [1,2,3,4,5,6,7,8,9,10]
li2 = []
for number in li:
    if number%2==0:
        li2.append(number)
print(li2)   

#filter(lambda variable:condition,name of the iterator)
li = list(filter(lambda number:number%2==0,li))

[2, 4, 6, 8, 10]

In [74]:
li = [1,2,3,4,5,6,7,8,9,10]
li3 = [4,3,2,1]

        
def common_elements(l1,l2):
    common_list = []
    #find smallest list
    if len(l1)<len(l2):
        small_list = l1
        big_list = l2
    else:
        small_list = l2
        big_list = l1 
        
    for number in small_list:
        if number in big_list:
            common_list.append(number)
    return common_list

common_elements([1,5,7,8,6,7],[1,2,3,5,7])

[1, 5, 7]

In [79]:
li = [1,2,3,4,5,6,7,8,9,10]
li3 = [4,11,20,1,]
li3 = list(filter(lambda number:number in li,li3))
li3

[4, 1]

In [21]:
#['1','2','3']
li = [1,2,3,4,5]
li2 = []
#num = 1
#num = str(num)
for i in li:
    i = str(i)
    li2.append(i)
print(li2)

['1', '2', '3', '4', '5']

In [25]:
li = list(map(str,li))
li

['1', '2', '3', '4', '5']

In [41]:
li = [1,2,3]
li = list(map(lambda x:x*2,li))
li

[2, 4, 6]

In [42]:
def number(n):
    return 2*n
number(5)

10

In [33]:
li = [1,2,3]
li = list(map(lambda x:number(x),li))
li

[2, 4, 6]

In [66]:
li = [1,2,3]
mult = 1
for i in li:
    mult = mult*i
print(mult)

6

In [68]:
li = [1,2,3]
mult=1
for i in range(len(li)):
    mult=mult*li[i]
print(mult)

6

In [69]:
from functools import reduce
li = [1,2,3]
mult = reduce(lambda x,y:x*y,li)
mult

6

In [72]:
li = ['manish','priya','manish','sachin']
li.count('manish')

2

In [74]:
li = [2,3,5,9,7,50,15,45]
max(li)

50

In [6]:
li = ['manish','priya','manish','sachin']
li = list(set(li))

In [11]:
li = ['manish','priya','manish','sachin']
li2 = []
for name in li:
    if name not in li2:
        li2.append(name)
print(li2)

['manish', 'priya', 'sachin']

In [9]:
list1=['sachin','komal','priya','hemu','nitu','kajal','shreya','prerna','pammi','achal']
school1=['sachin','komal']
school2=['priya','hemu','nitu','shreya']
school3=[]
for student in list1:
    if student not in school1 and student not in school2:
        school3.append(student)
print(school3)

['kajal', 'prerna', 'pammi', 'achal']

In [23]:
list1=['sachin','komal','priya','hemu','nitu','kajal','shreya','prerna','pammi','achal']
school1=['sachin','komal']
school2=['priya','hemu','nitu','shreya']
school3 = []
for names in list1:
    if names not in school1 and names not in school2:
        school3.append(names)
print(school3)

['kajal', 'prerna', 'pammi', 'achal']

In [32]:
list1=['sachin','komal','priya','hemu','nitu','kajal','shreya','prerna','pammi','achal']
school1=['sachin','komal']
school2=['priya','hemu','nitu','shreya']
school3 = list(filter(lambda names:names not in school1 and names not in school2,list1))
school3

['kajal', 'prerna', 'pammi', 'achal']

#a 2 b1 c3

In [106]:
s='abaccc'
for i in sorted(set(s)):
    print(i, s.count(i),end = ' ')

a 2 b 1 c 3

In [112]:
s = 'abaccc'
check = ''
for i in s:
    if i not in check:
        check+=i
        print(i,s.count(i))

a 2
b 1
c 3

In [151]:
s = 'manEish'
for i in s:
    if i not in 'AEIOUaeiou':
        print(i,end = '')

mnsh

In [152]:
s = 'manEish'
s = ''.join(filter(lambda x:x not in 'AEIOUaeiou',s))
s

'mnsh'

In [179]:
n1 = 81
n2 = 27
if n1 < n2:
    small = n1
else:
    small = n2
for i in range(2,small+1):
    if n1%i == 0 and n2%i ==0:
        gcd = i
print(gcd)

27

In [8]:
#5479 9745
n = 5479
reverse = 0
while n>0:
    x = n%10
    reverse = (reverse*10)+x
    n=n//10
print(reverse)

9745

n = 5
1
12
123
1234
12345

In [39]:
n = 5
pattern = ''
for i in range(1,n+1):
    pattern = str(pattern) + str (i)
    print(pattern)

1
12
123
1234
12345

In [40]:
n = 5
star = '*'
for i in range(1,n+1):
    print(star*i)

*
**
***
****
*****

In [1]:
n=5
for i in range(1,n+1):
    print(i*"*")

*
**
***
****
*****

In [4]:
n=5
pattern=" "
for i in range(1,n+1):
    pattern=str(pattern)+str(i)
    print(pattern)

 1
 12
 123
 1234
 12345

In [2]:
s='abaccc'
us=sorted(set(s))
for i in us:
    print(i,s.count(i),end=' ')

a 2 b 1 c 3

In [11]:
class employee:
    def __init__(self,name,id):
        self.id = id
        self.name = name
        
    def print_employee_details(self):
        print(f'Employee name is {self.name} and Id is {self.id}.')
        
emp = employee('Sachin',76842)
emp.print_employee_details()

emp2 = employee('Manish',123)
emp2.print_employee_details()

Employee name is Sachin and Id is 76842.
Employee name is Manish and Id is 123.

In [21]:
class student:
    def __init__(self,name,rollno):
        self.name = name
        self.rollno = rollno
    
    def students_details(self):
        print(f'Student name is {self.name} and Rollno is {self.rollno}')
        
stud = student('Manish',11)
stud.students_details()

man = student('Ravi',56)
man.students_details()

Student name is Manish and Rollno is 11
Student name is Ravi and Rollno is 56

In [33]:
n = 6
for i in range(n,0,-1):
    print(i*'*')

******
*****
****
***
**
*

In [143]:
n = 5
for i in range(1,n+1):
    print(n*' '+i*' *')
    n-=1

      *
     * *
    * * *
   * * * *
  * * * * *

In [4]:
n = 5
pattern = ""
for i in range(n,0,-1):
    pattern = str(pattern) + str(i)
    print(pattern)

5
54
543
5432
54321

In [70]:
'''54321
4321
321
21
1'''

n = 5
n = list(range(n,0,-1))
n = list(map(str,n))
n = ''.join(n)
for i in range(len(n)):
    print(n[i:])

54321
4321
321
21
1

 1
 12
 123
 1234
 12345

In [76]:
n = 5
pattern = 0
for i in range(1,n+1):
    pattern = pattern*10 + i
    print(pattern)

1
12
123
1234
12345

In [166]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [176]:
n = 16
square_root = n**(1/2)
print(square_root)

4.0

In [188]:
i = 10/7
i

1.4285714285714286

In [189]:
i = round(i,4)
i

1.4286

In [14]:
class student:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def check_eligibility(self):
        if self.age >= 18:
            print(self.name + ' is eligible to vote')
        else:
            print(self.name + ' is not eligible to vote')
stud = student("Manish",20)
stud.check_eligibility()

Manish is eligible to vote

In [21]:
a = [2,22,222,'as2d','z22','2']
a = list(map(str,a))
a = ''.join(a)
cnt = 0
for i in a:
    if i == "2":
        cnt+=1
print(cnt)

10

In [3]:
inp = [2,22,222,'as2d','z22','2']
inp = list(map(str,inp))
print(inp)
inp = ''.join(inp)
print(inp)
print(len(inp)-len(inp.replace("2","")))

['2', '22', '222', 'as2d', 'z22', '2']
222222as2dz222
10

In [1]:
import re
a = [2,22,222,'as2d','z22','2']
print(len(re.findall('2',''.join(list(map(str,a))))))

10

In [51]:
a = [2,22,222,'as2d','z22','2']
a = list(map(str,a))
a = ''.join(a)
print(a)
b = a.split("2")

222222as2dz222

['', '', '', '', '', '', 'as', 'dz', '', '', '']

In [5]:
li=[23,10,18,51,5,13,31,54,48,62,29,8,37,6666666]
buckets = [[] for _ in range(10)]
len_max = len(str(max(li)))
li = list(map(str,li))
li = list(map(lambda x: x.zfill(len_max),li))
print(li)
for tense in range(-1,-len_max-1,-1):
    buckets = [[] for _ in range(10)]
    for i in range(len(li)):
        buckets[int(li[i][tense])].append(li[i])
    li.clear()
    for k in buckets:
            for l in k:
                li.append(l) 
print(li)

['0000023', '0000010', '0000018', '0000051', '0000005', '0000013', '0000031', '0000054', '0000048', '0000062', '0000029', '0000008', '0000037', '6666666']
['0000005', '0000008', '0000010', '0000013', '0000018', '0000023', '0000029', '0000031', '0000037', '0000048', '0000051', '0000054', '0000062', '6666666']

In [15]:
li=[23,10,18,51,5,13,31,54,48,62,29,8,37]
buckets = [[] for _ in range(10)]
len_max = len(str(max(li)))
li = list(map(str,li))
li = list(map(lambda x: x.zfill(len_max),li))
print(li)
buckets[(int(li[0][-1]))]

['23', '10', '18', '51', '05', '13', '31', '54', '48', '62', '29', '08', '37']

[]

In [11]:
int(li[0][-1])

3

In [12]:
class human:
    def __init__(self,name,height):
        self.name = name
        self.height = height
    def human_baby(self):
        print('My name is',self.name ,'i am',self.height,'tall')
humn = human('Priya',5)
humn.human_baby()

class animal(human):

My name is Priya i am 5 tall

In [13]:
def other_func():
    print('Hello World!')
other_func()

Hello World!

In [15]:
list(range(10,100,10))

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [29]:
class it:
    def __init__(self):
        self.cnt = 1
    def __iter__(self):
        return self
    def __next__(self):
        val = self.cnt
        if self.cnt <= 5:
            self.cnt+=1
            return val
        raise StopIteration
i = it()
for j in i:
    print(j)

1
2
3
4
5

In [42]:
def myfunc(func):
    def wrap():
        print("***********")
        func()
        print("+++++++++++")
    return wrap

@myfunc
def other_func():
    print("Hi sir")
other_func()

***********
Hi sir
+++++++++++

In [43]:
def number(n):
    for i in range(n):
        yield i
list(number(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
li=[1,1,2,3,3,4,4,8,8]
for i in li:
    if li.count(i) == 1:
        print(i)
#count aisa element jo single time ho

2

In [5]:
tup=("hello")
print(tup)
print(type(tup))

hello
<class 'str'>

In [ ]:
from gtts import gTTS
import os
mytext="hi priya how are you"
languange="en"
output=gTTS(text=mytext,language,slow=False)
outpu